global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    default-server init-addr last,libc,none

resolvers docker
    parse-resolv-conf
    timeout resolve 1s
    timeout retry 1s

listen stats
    bind *:5081
    stats enable
    stats uri /haproxy?stats
    stats refresh 10s
    stats show-legends

frontend fe-usuarios
    bind *:4001
    default_backend be-usuarios

backend be-usuarios
    balance roundrobin
    server ms1 ms-usuarios:3001 check resolvers docker

frontend fe-catalogo
    bind *:4002
    default_backend be-catalogo

backend be-catalogo
    balance roundrobin
    server ms1 ms-catalogo:3002 check resolvers docker
